* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.logo{
    margin-left: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    color: #000;
    background-color: #F5FFFE;
}
.navlinks{
    list-style: none;
    display: flex;
}
.navlinks>li:hover{
    transform: scale(1.3);
    transition: all 0.5s;
}
.navlinks>li{
    transition: all 1s;
}
.navlinks>li>a{
    color: #000;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
}
.navlinks>li>a:hover{
    color: #FF7038;
}

.btlogin{
    font-family: 'Poppins', sans-serif;
    padding: 3px 25px;
    font-size: larger;
    font-weight: bolder;
    background-color: #092533;
    border-radius: 4px;
    color: #ffffff;
    transition: 1s;
}

.btlogin:hover{
    background-color: #ffffff;
    color: #092533;
    transition: 1s background;
    transform: scale(1.1);
    transition: all 0.5s;
}

.btcadastro{
    font-family: 'Poppins', sans-serif;
    padding: 3px 25px;
    font-size: larger;
    font-weight: bolder;
    background-color: #F5FFFE;
    border-radius: 4px;
    color: #092533;
    transition: 1s;
}

.btcadastro:hover{
    background-color: #092533;
    color: #F5FFFE;    
    transition: 1s background;
    transform: scale(1.1);
    transition: all 0.5s;
}

body{
    background-color: #D5F4F6;
}

.botão{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 305px;
    height: 69px;
    border-radius: 15px;
    background-color: #B1D5D8;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}
.botão:hover{
    transform: scale(1.08);
    background-color: #8BAEB1;
}

.conteudo{
    background-color: #0B4B4D;
    max-width: 1000px;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 100px;
 }
 .iconText{
    align-items: center;
    justify-content: center;
    text-align: center;
 }

 .imgInicial{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 h1{
    font-size: 50px;
    margin-top: 200px;
    color: #00595B;
    font-family: 'Poppins', sans-serif;

 }
 .hospitalar{
    color: #FF7038;
    
 }

 .Texto1, .Texto2, .Texto3{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 25px;
    font-weight: bolder;
    margin-right: 150px;    
    text-align: center;
}
.texto1, .texto2, .texto3{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 8px;
}
.texto2{
    margin-top: 50px;
    margin-left: 40px;
}